@model IEnumerable<GigHub.Core.Models.Following>

@{
    ViewBag.Title = "Following";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Following</h2>


@foreach(var follow in Model)
{
    <li>@follow.Followee.Name</li>
}
